<p *ngIf = "!(books$ | async)">Loading...</p>
<mat-accordion>
  <button class= mat-raised-button color="primary" [routerLink]="['/bookform']">Add New Book</button >
    <mat-expansion-panel *ngFor = "let book of books$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      by {{book.author}} 
      <button mat-raised-button color="primary" (click)=deleteBook(book.id)>
        Delete Book
       </button>
       <button mat-raised-button color="primary" [routerLink]="'/bookform/' + book.id">
        Edit Book
        </button>

    </mat-expansion-panel>
  </mat-accordion>